.title-img {
    height: 1em;}
main {
    margin: 1em 0;}
caption {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 1rem;}
th,
td {
    text-align: center;}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    background: white;
    text-align: center;
    width: 100%;}
.inline {
    display: inline;
    padding-right: 0.5em;}
h1.small {
    font-size: 1.8rem;}
.compact{
    padding: 0.1rem 0.5rem;
}
