{{define "footer"}}</main>
    <footer class="twelve columns">
        <a href="https://docs.google.com/document/d/1Ls6pTmhY_LV8LwFiboUXoFXenXZl0qVZWPZ8J4uoqpI/edit#heading=h.oyitr9asho0e" target="_blank">Elephant Carpaccio exercise handout</a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://docs.google.com/document/u/1/d/1TCuuu-8Mm14oxsOnlk8DqfZAA1cvtYu9WGv67Yj_sSk/pub" target="_blank">Facilitation guide</a>
    </footer>
</body>
</html>{{end}}