{{define "top"}}<!DOCTYPE html>
<html lang="en">
<head>
    <title>Elephant Carpaccio</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Learn and have fun playing Elephant Carpaccio!" lang="en"/>
</head>
<body>{{end}}